{% extends 'layout.html' %}

{% block content %}
<div class="listBox">
    <h1>{{ content.title }}</h1>
    <div>
        作者: <span>{{ content.user.username }}</span> -
        时间: <span>{{ content.addTime|date('Y年m月d日 H:i:s', -8*60) }}</span> -
        阅读: <span>{{ content.views }}</span> -
        评论: <span>10</span>
    </div>
    <p>{{ content.content }}</p>
</div>

<div class="message">
    <p>评论 - <span>一共有0条评论</span></p>
    {% if userInfo._id %}
    <textarea class="messageContent" name="" id="" cols="30" rows="10"></textarea>
    <input type="hidden" id="contentId" value="{{ content.id }}">
    <div><a href="#" class="btn btn-default messageBtn">提交</a></div>
    {% else %}
    <p>你还没有登陆，请先登陆</p>
    {% endif %}
    <div class="messageList">
        <ul>
            <li>
                <div><span></span><span></span><span></span></div>
                <div></div>
            </li>
        </ul>
    </div>
</div>
<script src="/public/js/comments.js"></script>
{% endblock %}