{% extends 'layout.html' %}

{% block content %}
<div class="listBox">
    <h1>{{ content.title }}</h1>
    <div>
        作者: <span>{{ content.user.username }}</span> -
        时间: <span>{{ content.addTime|date('Y年m月d日 H:i:s', -8*60) }}</span> -
        阅读: <span>{{ content.views }}</span> -
        评论: <span>{{ content.comments.length }}</span>
    </div>
    <p>{{ content.content }}</p>
</div>

<div class="message">
    <p>评论 - <span>一共有 <span class="messageCount"> </span> 条评论</span></p>
    {% if userInfo._id %}
    <textarea class="messageContent" name="" id="" cols="30" rows="10"></textarea>
    <input type="hidden" id="contentId" value="{{ content.id }}">
    <div><a href="#" class="btn btn-default messageBtn">提交</a></div>
    {% else %}
    <p>你还没有登陆，请先登陆</p>
    {% endif %}
    <div class="messageList">

    </div>
    <div class="commentsBtn">
        <span class="pre"><a href="#">上一页</a></span>
        <span class="commentsPage"></span>
        <span class="next"><a href="#">下一页</a></span>
    </div>
</div>
<script src="/public/js/comments.js"></script>
{% endblock %}